# tmp./
tmp.*

# test.*
test.*

# node
package-lock.json
package.json

#mnt/linux/Arch/
mnt/linux/Arch/.config/fish/functions/*
mnt/linux/Arch/.config/fish/completions/*
mnt/linux/Arch/.config/fish/conf.d/*
