# 0
0

# tmp.*
tmp.*
tmp.txt
tmp.bat
tmp.ps1
tmp.sh

# test.*
test.*
test.txt
test.bat
test.ps1
test.sh

# node
package-lock.json
package.json

#mnt/linux/Arch/
mnt/linux/Arch/.config/fish/functions/*
mnt/linux/Arch/.config/fish/completions/*
mnt/linux/Arch/.config/fish/conf.d/*
